<!doctype html>
<html lang="en-us">
  <head>
    <title>PhoneBill API</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script defer src="/static/js/fontawesome-all.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/home.css">
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top"
                style="background-color: #eeeeee;">
            <a class="navbar-brand">
            </a>
            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="font-weight-bold">
                        PhoneBill API
                        <span class="fas fa-fw fa-lg fa-mobile-alt"></span>
                    </li>
                </ul>
            </div>
            <a href="https://github.com/giovannigaspar/work-at-olist"
               target="_blank" class="nav-link" style="color: darkslategrey;">
                <span class="fab fa-fw fa-lg fa-github"></span>
            </a>
        </nav>
    </header>
    <div class="container"
         style="margin-top: 65px;">
        <p>
            Hi there! Welcome to the most awesome API ever made,
            the <b>PhoneBill API</b> <span class="fas fa-fw fa-trophy"></span>!
        </p>
        <p>
            In this page, you will find some details about how the API works and
            will be able to test some examples... So, lets go.
        </p>

        <br/>
        <h2>The API</h2>
        <p>
            This API basically has two visible URLs: One responsible for
            inserting data and one for retrieving it. You can send to the server
            information about a phone call, like: Number that made the call,
            number that received it, the start and  the end of the call, etc.<br/>
            These values will later be used to calculate the duration and the
            price of the calls.
        </p>
        <div class="container">
            <h4>Inserting data</h4>
            <p>
                When you make a phone call, you can either start it or end it.
                To do that, you must use the URL below.
            </p>
            <p><samp>&emsp;&emsp;<var>http://&lt;SERVER_URL&gt;/call</var></samp></p>
            <p>
                Pretty simple, right? This is a POST request and to use it you
                must send a valid JSON. What defines if you are starting or
                ending a call is a parameter in the JSON named <i>type</i>.
                Below, an example of how to <b>start</b> a call:
            </p>
            <p>
                <div class="card">
                    <div class="card-body">
                        <samp>
                            {<br/>
                                &emsp;&emsp;"type": "start",<br/>
                                &emsp;&emsp;"timestamp": "2016-02-29T12:00:00Z",<br/>
                                &emsp;&emsp;"call_id": 70,<br/>
                                &emsp;&emsp;"source": "99988526423",<br/>
                                &emsp;&emsp;"destination": "9993468278"<br/>
                            }<br/>
                        </samp>
                    </div>
                </div>
            </p>
            <p>
                The URL to end the call is the same. However, you don't need
                to inform the <i>source</i> and the <i>destination</i>. Here
                goes an example:
            </p>
            <p>
                <div class="card">
                    <div class="card-body">
                        <samp>
                            {<br/>
                                &emsp;&emsp;"type": "end",<br/>
                                &emsp;&emsp;"timestamp": "2016-02-29T14:00:00Z",<br/>
                                &emsp;&emsp;"call_id": 70<br/>
                            }<br/>
                        </samp>
                    </div>
                </div>
                <b>Note: </b> you can't end a call if you didn't start it first.
                The call starting and ending are linked through the <i>call_id</i>.
            </p>
            <p>
                To show how it works, you can use the example below:
            </p>
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="callType" class="col-form-label">Type:</label>
                                <select id="callType" class="custom-select">
                                    <option value="start" selected>Start</option>
                                    <option value="end">End</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="callTDate" class="col-form-label">Date:</label>
                                <input type="date" class="form-control" id="callTDate">
                            </div>
                            <div class="form-group">
                                <label for="callSource" class="col-form-label">Source:</label>
                                <input type="text" class="form-control" id="callSource" maxlength="11">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="callCallID" class="col-form-label">Call ID:</label>
                                <input type="number" class="form-control" id="callCallID" min="1">
                            </div>
                            <div class="form-group">
                                <label for="callTTime" class="col-form-label">Time:</label>
                                <input type="time" class="form-control" id="callTTime">
                            </div>
                            <div class="form-group">
                                <label for="callDestination" class="col-form-label">Destination:</label>
                                <input type="text" class="form-control" id="callDestination" maxlength="11">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success float-right"
                            id="btnSendCallInfo">Send Data
                        <span class="fas fa-fw fa-phone-volume" data-fa-transform="rotate--40 flip-h"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="container">
            <h4>Retrieving data</h4>
            <p>
                If you want to get the bill for a specific phone (subscriber) on
                a determined period (month), you can use the following URL:
            </p>
            <p><samp>
                &emsp;&emsp;<var>
                    http://&lt;SERVER_URL&gt;/phone/&lt;PHONE_NUMBER&gt;/bill?period=PERIOD
                </var>
            </samp></p>
            <p>
                To use the URL above, just replace the &lt;PHONE_NUMBER&gt;
                with a valid number and the PERIOD with the month and year you
                want. This way, you will get a JSON with all the calls within the
                specified period. An example of a valid URL would be:
            </p>
            <p><samp>
                &emsp;&emsp;<var>
                    http://&lt;SERVER_URL&gt;/phone/99988526423/bill?period=12/2017
                </var>
            </samp>
            </p>
            <p>
                Below, an example of a succesful retrieved data:
            </p>
            <p>
                <div class="card">
                    <div class="card-body">
                        <samp>
                            [<br/>
                                &emsp;&emsp;{<br/>
                                    &emsp;&emsp;&emsp;&emsp;"call_price": "R$ 0.99",<br/>
                                    &emsp;&emsp;&emsp;&emsp;"call_start_date": "2017-12-12",<br/>
                                    &emsp;&emsp;&emsp;&emsp;"call_start_time": "15:07:13",<br/>
                                    &emsp;&emsp;&emsp;&emsp;"destination": "9993468278",<br/>
                                    &emsp;&emsp;&emsp;&emsp;"duration": "0h:07m:43s"<br/>
                                &emsp;&emsp;},<br/>
                                &emsp;&emsp;{<br/>
                                    &emsp;&emsp;&emsp;&emsp;"call_price": "R$ 0.36",<br/>
                                    &emsp;&emsp;&emsp;&emsp;"call_start_date": "2017-12-12",<br/>
                                    &emsp;&emsp;&emsp;&emsp;"call_start_time": "22:47:56",<br/>
                                    &emsp;&emsp;&emsp;&emsp;"destination": "9993468278",<br/>
                                    &emsp;&emsp;&emsp;&emsp;"duration": "0h:03m:00s"<br/>
                                &emsp;&emsp;}<br/>
                            ]<br/>
                        </samp>
                    </div>
                </div>
                <b>Note: </b> If you select an invalid period (a period that is not
                closed yet), the application will automatically return the last
                valid period (the last month).
            </p>
            <p>
                Since our database is already populated, it's possible to show
                an example of retrieving data. Check it below:
            </p>
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="callSubscriber" class="col-form-label">Subscriber:</label>
                                <input type="text" class="form-control"
                                    id="callSubscriber" maxlength="11" value="99988526423">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="callPMonth" class="col-form-label">Month:</label>
                                <input type="number" class="form-control"
                                       id="callPMonth" min='1' max='12' value="12">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="callPYear" class="col-form-label">Year:</label>
                                <input type="number" class="form-control"
                                       id="callPYear" min='1990' value="2017">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success float-right"
                            id="btnGetBill">Get Bill <span class="fas fa-money-check-alt fa-fw"></span>
                    </button>
                </div>
            </div>
            <div id="tableContainer"> <!--  class="invisible" -->
                <table class="table table-sm table-light table-bordered table-hover table-responsive-sm">
                    <thead class="thead-light">
                        <tr>
                            <th width="80">Destination</th>
                            <th width="90">Date</th>
                            <th width="90">Time</th>
                            <th width="80">Duration</th>
                            <th width="80">Price</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table>
            </div>
        </div>

        <h3>Credits</h3>
        <ul>
            <li>
                Icons:
                <a target="_blank" href="https://fontawesome.com/">
                    <span class="fas fa-font-awesome-logo-full"></span>
                </a>
            </li>
            <li>
                Framework:
                <a target="_blank" href="https://getbootstrap.com"
                    class="text-dark">
                    <span class="booticon">B</span> <small>Bootstrap</small>
                </a>
            </li>
        </ul>

    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/requests.js"></script>
    <script src="/static/js/examples.js"></script>
  </body>
</html>
